* {
    box-sizing: border-box;
}

html {
    height: 100%;

}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 1.42;
    background: #001821;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: grayscale;
}

.img {
    display: block;
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
}

button {
    border: 1px solid transparent;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.button {
    background: #f5170e;
    border: 1px solid transparent;
    border-radius: 35px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-transform: uppercase;
    padding: 18px 40px;
    cursor: pointer;
}

.button:hover {
    background: #DA0100;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
    color: #fff;
}

.button--size-middle {
    padding: 18px 29px 18px 30px;
}

.button--theme-border {
    border-color: #F5170E;
    background-color: #fff;
    color: #F5170E;
}

.button--theme-border:hover {
    border-color: #F5170E;
    background-color: #F5170E;
    color: #FFF;
}

.button--color--black {
    background: #8E8E8E;
}

.button--color--black:hover {
    background: #2B2B2B;
}

.button--color--orange:hover {
    background: #F5170E;
}

.button--central {
    width: 168px;
    height: 55px;
    padding-left: 58px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}

.header {
    min-height: 123.36px;
    padding-top: 26px;
    margin-bottom: 73px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-line__header {
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: auto;
    margin-bottom: 0;
}

.header__col {
    display: flex;
    align-items: senter;
}

.header__col--align--right {
    justify-content: flex-end;
}

.logo {
    display: block;
    margin-right: 66px;
    width: 98px;
    height: 42px;
}

.logo--main {
    width: 85px;
    height: 36px;
    margin-right: 79px;
}

.logo__link {
    display: block;
}

.logo__img {
    max-width: 100%;
}

.menu {
    display: inline-block;
    margin-top: 14px;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__tel {
    font-size: 26px;
    margin-bottom: 4px;
    line-height: 35px;
    text-decoration: none;
}

.contacts__graph {
    font-size: 13px;
    text-decoration: underline;
    margin-top: -5px;
    position: relative;
}

.contacts__text {
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A
}

.contacts__graph:hover .contacts__menu {
    display: block;
}

.contacts__menu {
    position: absolute;
    background: #EDEDED;
    color: #000000;
    padding: 19px;
    width: 160px;
    top: 100%;
    display: none;
    right: 0px;
}

.contacts__item-time {
    font-weight: bold;
    font-size: 13px;
    line-height: 21px;
    color: #1E1F20;
}

.contacts__item-dinner {
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #1E1F20;
    padding-left: 0px;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    margin-right: 54px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
}

.menu__link:hover {
    color: #DA0100;
}

.main {
    margin-bottom: 55px;
}

.preview {
    margin-bottom: 242px;
    left: 0;
}

.preview__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 333px;
    width: 67%;
}

.preview__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    width: 511px;
}

.preview__text {
    font-size: 18px;
    line-height: 20px;
}

.options {
    margin-bottom: 125px;
}

.options__list {
    display: flex;
    justify-content: space-between;
}

.options__item {
    width: 32%;
    min-height: 450px;
    background: #fff;
    border-radius: 5px;
    color: black;
}

.options__item:last-child {
    margin-right: 0;
}

.options__img-box {
    width: 100%;
    height: 144px;
}

.options__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.options__content {
    padding: 33px 33px 25px 22px;
}

.options__block {
    padding-left: 6px;
    margin-bottom: 23px;
    display: flex;
    align-items: center;
}

.options__block-item {
    margin-right: 28px;
    display: flex;
    align-items: center;
}

.options__block-item:last-child {
    margin-right: 0;
}

.options__block-image {
    margin-right: 10px;
}

.options__block-icon {
    display: block;
}

.options__block-text {
    font-size: 16px;
    width: 90px;
    height: 22px;
    color: #666666;
}

.options__title,
.options__icon-box {
    display: inline-block;
}

.options__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 51px;
}

.options__icon-box {
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
}

.options__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 21px;
}

.options__text {
    line-height: 21px;
    margin-bottom: 24px;
}

.news {
    margin-bottom: 144px;
}

.news__title {
    line-height: 49px;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 51px;
}

.news__list {
    margin-bottom: 49px;
    display: flex;
    justify-content: space-between;
}

.news__item {
    width: 557px;
    min-height: 394px;
    margin-right: 22px;
    position: relative;
}

.news__item:last-child {
    margin-right: 0;
}

.news__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    min-height: 175px;
}

.news__date {
    line-height: 21px;
    margin-bottom: 12px;
    display: block;
}

.news__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.news__text {
    font-size: 16px;
    line-height: 24px;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator--theme--color {
    color: #000000
}

.paginator--theme--color .paginator__display {
    padding-left: 41px;
}

.paginator--theme--color .paginator__item--active .paginator__link {
    color: #FFF;
    background: #f5170e;
    border-radius: 50%;
}

.paginator--theme--color .paginator__link:hover {
    color: #FFF;
    background: #f5170e;
    border-radius: 50%;
}

.paginator__list {
    display: flex;
    align-items: center;
}

.paginator__display {
    font-size: 16px;
    line-height: 20px;
    margin-right: 25px;
    padding-left: 10px;
}

.paginator__item {
    margin-right: 2px;
    text-align: center;
}

.paginator__link {
    display: block;
    width: 32px;
    height: 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    background: transparent;
    border-radius: 50%;
    padding: 5px 11px;
}

.paginator__link:hover {
    background: #fff;
    color: #f5170e;
}

.about__container {
    padding-top: 97px;
}

.about__img {
    width: 490px;
    height: 505px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.about__img-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.about__content {
    width: 785px;
    min-height: 455px;
    position: relative;
    padding: 70px 202px 66px 81px;
    background: url(img/mountains.png) center center/ cover no-repeat;
    color: #060606;
    margin-left: 352px;
    display: inline-block;
}

.about__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    margin-bottom: 37px;
}

.about__text {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 43px;
}

.main-page-wrapper {
    background: url("img/1.png") center top no-repeat, url("img/2.png") center bottom 165px no-repeat;
}

.footer {
    margin-top: auto;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    justify-content: flex-end;
}

.footer__content {
    border-top: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-top: 41px;
    padding-bottom: 40px;
}

.footer__socials {
    margin-right: 74px;
}

.socials__list {
    display: flex;
    align-items: center;
}

.socials__item {
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    width: 36px;
    height: 36px;
}

/*services page*/

.top-line {
    min-height: 412px;
    display: flex;
    flex-direction: column;
    padding-bottom: 23px;
    background: url("img/headline1.png") right 50% top no-repeat;
}

.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.page-title {
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    margin-bottom: 14px;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item:after {
    content: "/";
    color: #9A9A9A;
    margin: 0 3px;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__item--active .breadcrumbs__link {
    font-weight: bold;
}

.breadcrumbs__link {
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #9A9A9A
}

.page-content {
    background: #FFF;
    color: #303030;
    padding: 98px 0 83px 0;
}

.services {
    margin-bottom: 65px;
}

.services__item {
    margin-bottom: 49px;
}

.services__item:last-child {
    margin-bottom: 0;
}

.service {
    display: flex;
    justify-content: space-between;
}

.service__img {
    width: 40.4%;
    margin-right: 5%;
}

.service__img-elem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.service__content {
    flex: 1;
    padding-top: 12px;
}

.service__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 28px;
    color: #000000;
}

.service__desk {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 52px;
}

.inner-section {
    background: #fff;
    color: #1A1B1E;
    padding: 88px 0 73px;
}

.inner-section--bg--grey {
    background: #F4F5F5;
}

.inner-section__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 53px;
}

.partners__link {
    text-decoration: none;
    display: flex;
    min-width: 241px;
    max-width: 269px;
    height: 129px;
    align-items: center;
    justify-content: center;
}

.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    margin-left: 39px;
}

.partners__item:nth-child(4n + 1) {
    margin-left: 0;
}

.partners__item:nth-child(4n + 1) .partners__link {
    justify-content: flex-start;
}

.partners__item:nth-child(4n + 4) {
    margin-left: auto;
}

.partners__item:nth-child(4n + 4) .partners__link {
    justify-content: flex-end;
}

.inner-footer__content {
    padding-bottom: 35px;
}

/* reviews page */

.reviews-title {
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    margin-bottom: 32px;
}

.reviews {
    column-count: 2;
    column-gap: 27px;
    margin-bottom: 40px;
}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 31px;
    background: #F4F5F5;
}

.reviews__item {
    margin-bottom: 17px;
}

.avatar {
    width: 142px;
    height: 142px;
    overflow: hidden;
    border-radius: 50%;
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.review__photo {
    margin-right: 22px;
}

.review__user {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;

    margin-bottom: 12px;
}

.review__user:hover {
    color: #2E77A4;
    text-decoration-line: underline;
}

.review__user:after {
    content: url("img/vk-blue\ 1.png");
    height: 30px;
    margin-left: 8px;
}

.review__tags {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    line-height: 18px;
    color: #303030;
    padding: 9px 17px;
    border-radius: 50px;
    background: #E7E7E7;
}

.tag--bg--green {
    background: #B9EAE4;
}

.review__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: #1A1B1E;
    margin-bottom: 13px;
}

.review__content-text {
    font-size: 16px;
    line-height: 27px;
    color: #818181;
    margin-bottom: 47px;
}

.review__date {
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    color: #1A1B1E;
}

.separator {
    background: url("img/couple.png") right 20% bottom no-repeat, url("img/Rectangle.png") right 50% top no-repeat;
    min-height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.separator__content {
    max-width: 50%;
}

.separator__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
}

.inner-section__title {
    padding-top: 30px;
}

.form__row {
    display: flex;
    margin-bottom: 30px;
}

.form__input {
    flex: 1;
    margin-right: 30px;
    border-radius: 4px;
    border: none;
    background: #fff;
    padding: 19px 30px;
    font-size: 18px;
    line-height: 25px;
    color: #1A1B1E;
}

.form__input::placeholder {
    color: #666;
}

.form__input:last-child {
    margin-right: 0px;
}

.form__input--textarea {
    height: 235px;
    font-size: 18px;
    line-height: 25px;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox:checked~.tag {
    background: #B9EAE4;
}

.controls__checkbox {
    display: none;
}

.form__controls {
    display: flex;
    margin-bottom: 32px;
}

.form__controls-title {
    width: 35%;
    font-size: 18px;
    line-height: 25px;
    color: #1A1B1E;
}

.controls {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 38px;
    padding-top: 10px;
}

.controls__item {
    margin-right: 8px;
    margin-bottom: 10px;
}

.form__buttons {
    display: flex;
    justify-content: flex-end;
}

.form__button {
    margin-right: 17px;
}

.form__button:last-child {
    margin-right: 0px;
}

/*welcome page*/

.welcome {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url(img/bg.png) center bottom 50% no-repeat;
}

.central {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.central__logo {
    margin-bottom: 5px;
}

.central__text {
    margin-bottom: 44px;
    font-size: 18px;
    line-height: 25px;
}

.central--asia {
    opacity: 0;
    animation: zoom 0.9s ease-in;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    from {
        transform: scale(.7);
    }

    20% {
        transform: scale(1.15)
    }

    40% {
        transform: scale (.9);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}